* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* HEADER */
header {
    background-color: rgb(0, 132, 253);
    width: 100%;
}
header .row {
    justify-content: space-between;
    flex-direction: row;
}
header .col {
    background-color: red;
    width: 100px;
    height: 50px;
}
/* /HEADER */
/* MAIN */
/* Section Feature */
.feature {
    margin: 40px 0 60px;
}
.col-33-doubled, .col-33 {
    background-color: purple;
    height: 300px;
}
.col-33 {
    margin-top: 20px;
}
/* Section Innovations */
.innovations {
    background-color: rgb(145, 140, 218);
    padding: 50px 0;
}
.col-50 {
    background-color: crimson;
    height: 500px;
}
.col-50:last-child {
    margin-top: 30px;
}
/* /MAIN */
/* FOOTER */
/* /FOOTER */
/* LAYOUT */
.container {
    margin: 0 30px;
    max-width: 700px;
}
.row {
    display: flex;
    flex-direction: column;
}
.col-33-doubled, .col-33, .col-50 {
    width: 100%;
}
/* /LAYOUT */
/* GENERAL */
/* /GENERAL */
/* MEDIA */
/* Tablet */
@media screen (min-width: 768px) {
    
}
/* Desktop */
@media screen (min-width: 991px) {
    
}
/* Large Desktop */
@media screen (min-width: 1200px) {
    
}
/* /MEDIA */