* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}
/* HEADER */
header {
    background-color: rgb(0, 132, 253);
    width: 100%;
    color: white;
    padding: 10px 0px 15px;
}
header .row {
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
}
.logo {
    font-size: 35px;
}
.hamburger {
    font-size: 20px;
}
.menu {
    display: none;
}
header a {
    color: inherit;
    text-decoration: none;
    margin-right: 15px;
}
header button {
    background-color: white;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
}
/* /HEADER */
/* MAIN */
main {
    line-height: 2;
}
/* Section Feature */
.feature {
    margin: 40px 0 60px;
}
.feature .col-33 {
    margin-top: 20px;
}
.feature .background {
    background-color: rgb(181, 221, 255);
    border-radius: 20px;
}
.feature .col-33-doubled .content {
    text-align: left;
}
.feature .content {
    padding: 30px;
    text-align: center;
}
.feature img {
    height: 300px;
    margin-bottom: -11px;
}
.feature h4, .feature i {
    color: rgb(0, 130, 249);
}
.feature i {
    font-size: 60px;
    margin-bottom: 30px;
}
.feature p {
    margin-top: 30px;
    color: rgb(90, 110, 127);
}
.feature button, .feature button i {
    color: white;
    font-size: 16px;
    margin: 0;
}
.feature button {
    background-color: rgb(0, 130, 249);
    padding: 10px 50px;
    border: none;
    border-radius: 35px;
    margin-top: 30px;
}
.feature button i {
    margin-right: 8px;
}
/* Section Innovations */
.innovations {
    padding: 50px 0;
}
.innovations .col-50:last-child {
    margin-top: 30px;
}
.innovations img {
    width: 100%;
}
.innovations .col-50:first-child .content {
    color: white;
}
.innovations h3 {
    margin: 60px 0 40px;
}
.innovations .background {
    background-color: white;
    border-radius: 30px;
    padding: 25px;
    text-align: center;
}
.innovations h4 {
    margin-top: 10px;
}
.innovations .background p {
    margin: 20px 0 30px;
    font-style: italic;
}
.innovations i {
    background-color: rgb(151, 146, 228);
    padding: 15px 18px;
    border-radius: 50%;
}
/* Section Testimonials */
.testimonials {
    margin: 60px 0 100px;

    text-align: center;
}
.testimonials .col-100 {
    margin-bottom: 30px;
}
.testimonials .col-100:last-child {
    margin-bottom: 0;
}
.testimonials .content {
    padding: 30px 10px;
}
.testimonials .back-light-blue {
    border-radius: 45px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.testimonials .section-name, .testimonials .name {
    text-transform: uppercase;
}
.testimonials h3 {
    color: rgb(151, 146, 228);
    margin: 20px 0 30px;
}
.testimonials .img-content {
    width: 60vw;
    height: 60vw;
    border-radius: 50%;
    background-size: cover;
    background-position: 45%;
}
.testimonials .nat {
    background-image: url(../img/testimonial1.jpg);
}
.testimonials .celia {
    background-image: url(../img/testimonial2.jpg);
}
.testimonials .bob {
    background-image: url(../img/testimonial3.jpg);
}
.testimonials .back-light-blue {
    color: white;
}
.testimonials .back-light-blue p {
    margin: 15px 0;
}
.testimonials i {
    font-size: 25px;
}
.testimonials p i:first-child {
    margin-right: 5px;
}
.testimonials p i:last-child {
    margin-left: 5px;
}
.testimonials .name {
    font-weight: bold;
}
/* Section Benefits */
.benefits {
    padding: 50px 0;
}
.benefits .col-100 {
    margin-bottom: 50px;
    text-align: center;
    color: white;
}
.benefits .col-33 {
    margin-bottom: 30px;
}
.benefits .col-33:last-child {
    margin-bottom: 0;
}
.benefits .content {
    padding: 30px;
    background-color: white;
    border-radius: 20px;
    color: rgb(151, 146, 228);
}
.benefits .numbers {
    font-size: 40px;
    font-weight: bold;
}
.benefits .title {
    margin: 15px 0;
}
.benefits p {
    font-size: 14px;
    margin-bottom: 15px;
    color: rgb(90, 110, 127);
}
.benefits button {
    background-color: rgb(151, 146, 228);
    font-size: 14px;
    color: white;
    border: none;
    padding: 10px 40px;
    border-radius: 25px;
    font-weight: bold;
}
/* Section About-Us */
.about-us {
    margin: 80px 0;
    font-size: 14px;
}
.about-us .col-33-doubled {
    margin-bottom: 50px;
}
.about-us h3 {
    color: rgb(151, 146, 228);
}
.about-us h3:first-child {
    font-size: 10vw;
}
.about-us p {
    margin-top: 30px;
}
.about-us .img-content {
    width: 50vw;
    height: 50vw;
    background-image: url(../img/about.jpg);
    border-radius: 50%;
    background-size: cover;
    position: relative;
}
.about-us .img-content i {
    font-size: 18vw;
    color: rgb(151, 146, 228);
    position: absolute;
    top: -5%;
    right: -5%;
}
.about-us .content h3 {
    margin: 20px 0;
}
.about-us button {
    font-size: 14px;
    padding: 10px 20px;
    background-color: rgb(151, 146, 228);
    color: white;
    border-radius: 20px;
    border: none;
}
.about-us button i {
    margin-right: 10px;
}
/* Section Get-Started */
.get-started {
    padding: 60px 0;
    color: white;
    text-align: center;
}
.get-started .section-name {
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
}
.get-started h2 {
    font-size: 50px;
    color: rgb(247, 188, 92);
}
.get-started p, .get-started .copyright {
    font-size: 14px;
}
.get-started button {
    background-color: white;
    color: rgb(151, 146, 228);
    border: none;
    padding: 20px 60px;
    font-size: 16px;
    letter-spacing: 5px;
    font-weight: bold;
    border-radius: 30px;
    margin: 20px 0;
}
.get-started .copyright .entities {
    font-weight: bold;
}
.get-started a {
    color: inherit;
}
/* /MAIN */
/* FOOTER */
footer {
    background-color: rgb(51, 51, 51);
    padding: 40px 0;
}
footer .col-100 {
    background-color: white;
    height: 200px;
}
/* /FOOTER */
/* LAYOUT */
.container {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 700px;
}
.row {
    display: flex;
    flex-direction: column;
}
.col-33-doubled, .col-33, .col-50, .col-100 {
    width: 100%;
}
/* /LAYOUT */
/* GENERAL */
.back-light-blue {
    background-color: rgb(151, 146, 228);
}
h4 {
    font-size: 20px;
}
h3 {
    font-size: 30px;
    line-height: 1.2;
}
/* /GENERAL */
/* MEDIA */
/* Tablet */
@media screen and (min-width: 768px) {
    .container {
        max-width: 800px;
    }
    .feature .row, .benefits .row, .about-us .row {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .col-33-doubled {
        width: calc(100% / 3 * 2 - 7.5px);
    }
    .col-33 {
        width: calc(100% / 3 - 15px);
        height: 100%;
    }
    .feature .col-33 {
        margin-top: 0;
    }
    .feature .col-33-doubled, .feature .col-33:first-child {
        margin-bottom: 20px;
    }
    .benefits .col-33 {
        width: calc(50% - 15px);
    }
    .testimonials {
        text-align: initial;
    }
    .testimonials .col-100:first-child {
        text-align: center;
    }
    .testimonials .back-light-blue {
        display: flex;
        flex-direction: row;
    }
    .testimonials .img-content {
        height: 200px;
        width: 200px;
        flex-shrink: 0;
    }
    .testimonials .p-content {
        margin: 0 25px;
    }
    .about-us h3:first-child {
        font-size: 50px;
    }
    .about-us p {
        padding-right: 20px;
    }
    .about-us .img-content {
        width: 200px;
        height: 200px;
    }
    .about-us .img-content i {
        font-size: 80px;
    }
    .about-us .content h3 {
        font-size: 25px;
    }
    .get-started .container {
        width: 50%;
    }
}
/* Desktop */
@media screen and (min-width: 991px) {

}
/* Large Desktop */
@media screen and (min-width: 1200px) {
    .container {
        width: 60%;
    }
    .innovations .container {
        width: 50%;
    }
    .about-us .container {
        width: 55%;
    }
    .get-started .container, footer .container {
        width: calc(100% / 3);
    }
    .innovations .row {
        justify-content: space-between;
        flex-direction: row;
    }
    .innovations .col-50 {
        width: calc(100% / 2 - 20px);
    }
    .innovations .col-50:last-child {
        margin-top: 0;
    }
    .benefits .col-33 {
        width: calc(100% / 3 - 15px);
    }
    .hamburger {
        display: none;
    }
    .menu {
        display: block;
    }
}
/* /MEDIA */